*.prefs
java8fundamentals/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
*.fdx
*.fnm
java8fundamentals/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
*.tii
java8fundamentals/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
*.log
java8fundamentals/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.hookeycamp1-pc_3/FP.local.files_0/node.properties
java8fundamentals/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
java8fundamentals/RemoteSystemsTempFiles/.project
*.index
java8fundamentals/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
*.version
java8fundamentals/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
*.xmi
java8fundamentals/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
*.fdt
java8fundamentals/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
*.tis
java8fundamentals/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
*.frq
java8fundamentals/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml