<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>A Tiny HTML Document</title>
	<link href="styles.css" rel="stylesheet"/>
	<script src="script.js"></script>
</head>
<body>
	<p>Many linguists remain unconvinced that
    <b>supercali<wbr>fragilistic<wbr>expialidocious</b> is indeed a word.</p>
	<strong>Breaking news!</strong> There's a sale on <i>leche quemada</i> candy
    at the <b>El Azul</b> restaurant. Don't delay, because when the last candy
    is gone, it's <em>gone</em>.
	<hr>
	<small>The creators of this site will not be held liable for any injuries that
    may result from unsupervised unicycle racing.</small>
</body>
</html>